Node-RED/flows_sample.json
[{"id":"c00fbada.a2eaa8","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"46f6b3e2.7c9a9c","type":"websocket-listener","z":"","path":"192.168.3.62","wholemsg":"false"},{"id":"4777d9fd.2b0158","type":"websocket-client","z":"","path":"http://192.168.3.62:80","tls":"","wholemsg":"false"},{"id":"80b39d37.27fe8","type":"ui_group","z":"","name":"Default","tab":"76f7eea6.bd089","disp":true,"width":"6","collapse":false},{"id":"73c92d8.2dbebd4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"76f7eea6.bd089","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d329b43b.106fe8","type":"ui_spacer","name":"spacer","group":"80b39d37.27fe8","order":5,"width":1,"height":1},{"id":"ae580816.e60198","type":"ui_spacer","name":"spacer","group":"80b39d37.27fe8","order":6,"width":1,"height":1},{"id":"6e43f1c7.bbfc9","type":"ui_group","name":"Group 2","tab":"76f7eea6.bd089","order":2,"disp":true,"width":6},{"id":"54ecb50.410ef4c","type":"sftp","z":"","host":"192.168.0.80","port":"22","username":"pi","password":"29030","hmac":"hmac-sha2-256,hmac-sha2-512,hmac-sha1","cipher":"aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm"},{"id":"30bc7d0e.21bcf2","type":"SFTP-credentials","z":"","host":"raspberrypi.local","port":"22","username":"pi","password":"raspberry"},{"id":"1b82ffdb.9394a","type":"inject","z":"c00fbada.a2eaa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["37bfaf39.41eda"]]},{"id":"37bfaf39.41eda","type":"http request","z":"c00fbada.a2eaa8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":150,"y":100,"wires":[["8142612e.4dfa7"]]},{"id":"18eb57f8.049c98","type":"debug","z":"c00fbada.a2eaa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":280,"wires":[]},{"id":"8142612e.4dfa7","type":"json","z":"c00fbada.a2eaa8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":160,"wires":[["f4505298.e627f"]]},{"id":"f9b4033e.40db6","type":"mqtt out","z":"c00fbada.a2eaa8","name":"","topic":"/Noodl","qos":"","retain":"","broker":"","x":290,"y":220,"wires":[]},{"id":"f4505298.e627f","type":"function","z":"c00fbada.a2eaa8","name":"","func":"var temp = msg.payload.main.temp - 273.15;\nmsg.payload =\n    '{\"temp\":' + temp.toPrecision(3) +\n    ',\"humid\":' + msg.payload.main.humidity + '}'\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":220,"wires":[["f9b4033e.40db6","18eb57f8.049c98"]]},{"id":"6ad0acc2.0e16e4","type":"comment","z":"c00fbada.a2eaa8","name":"URLにOpenWetherAPIのエンドポイントを設定","info":"","x":460,"y":80,"wires":[]},{"id":"795e3d0f.e9a924","type":"comment","z":"c00fbada.a2eaa8","name":"api.openweathermap.org/data/2.5/weather?q=Tokyo,jp&APPID=\"APIのKEY\"","info":"","x":550,"y":120,"wires":[]},{"id":"fc1dfbd7.a14158","type":"comment","z":"c00fbada.a2eaa8","name":"接続先MQTTサーバの設定をする","info":"","x":490,"y":220,"wires":[]}]